---
import BaseHead from '../../components/BaseHead.astro';
import Header from '../../components/Header.astro';
import Footer from '../../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../../consts';
import { getCollection } from 'astro:content';

export async function getStaticPaths() {
    const posts = await getCollection('blog');
    
    // Find all unique categories
    const uniqueCategories =[...new Set(posts.map((post) => post.data.category).filter(Boolean))];

    // Create a path for each category
    return uniqueCategories.map((category) => {
        const filteredPosts = posts.filter((post) => post.data.category === category);
        return {
            params: { category },
            props: { posts: filteredPosts },
        };
    });
}

const { category } = Astro.params;
const { posts } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={`${category} Posts | ${SITE_TITLE}`} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<h1>Posts in: {category}</h1>
			<ul>
				{posts.map((post) => (
					<li>
						<a href={`/blog/${post.slug}/`}>{post.data.title}</a>
					</li>
				))}
			</ul>
		</main>
		<Footer />
	</body>
</html>